<!DOCTYPE html>
<html>
  <head>
    <title>MyappBookTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="ui center aligned container">
      <div class="ui text menu">
        <div class="header item">
          <h3 class="ui left aligned header">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Книги и авторы</font>
            </font>
          </h3>
        </div>
          <%= link_to "Home", root_path,:class => "item"%>
          <%= link_to "Authors", authors_path,:class => "item"%>
      </div>
    </div>
<div class="ui center aligned container">
    <main>
      <%= yield %>
    </main>
</div>
  </body>
</html>
